extends template/main
append vars
  -
    page_title= 'List'
block content
    main
        h1.title Check LIST
        .section.body
            .do
                a(href='').block-title 27.01.2020
                .do-body
                    .do-cont
                        .do-number 01.
                        .do-title Сходить в магазин
                        button.do-button.do-red Ред.
                        button.do-button.do-check Ок.
                    .do-desc Сходить в Южный и купить продукты для пиццы
                .do-body
                    .do-cont
                        .do-number 02.
                        .do-title Собрать сумку на тренировку
                        button.do-button.do-red Ред.
                        button.do-button.do-check Ок.
                    .do-desc Завтра утром тренировка, подготовиться лучше заранее
            .calendar
                h2.block-title Календарь
                .calendar-row
                    .calendar-select
                        .calendar-row.calendar-select-row
                            button.calendar-select-head 2020
                            button.calendar-select-button <
                            button.calendar-select-button >
                        - for(let i = 0; i < 10; i++)
                            button.calendar-select-but 2020
                    .calendar-select
                        .calendar-row.calendar-select-row
                            button.calendar-select-head Январь
                            button.calendar-select-button <
                            button.calendar-select-button >
                        - for(let i = 0; i < 12; i++)
                            button.calendar-select-but Январь
                .calendar-week
                    - for(let i=0; i<7; i++)
                        div.calendar-week-item Пн.
                .calendar-month
                    - for(let i=0; i<31; i++)
                        button.calendar-month-day
                            span.calendar-month-day-number 01
                            span.calendar-month-day-do Дел 0
            .add
                h2.block-title Добавить дело
                form.add-form
                    input(type='date' ).add-date.add-input
                    input(type='text' placeholder='Название').add-title.add-input
                    input(type='text' placeholder='Описание').add-desc.add-input
                    button(type='button').add-sub.add-but Сохранить
                    button(type='button').add-clear.add-but Очистить